input[type='range'].custom {
	-webkit-appearance: none;
	border: 1px solid #f00;
}
input[type='range'].custom::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: #bada55;
	opacity: 0.5;
	width: 10px;
	height: 10px;
}
